/* static/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Azul claro */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #003366; /* Azul oscuro */
    margin-bottom: 10px;
}

h2 {
    color: #003366; /* Azul oscuro */
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    color: #003366; /* Azul oscuro */
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #003366; /* Azul oscuro */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00509e; /* Azul más brillante */
}

nav {
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #003366; /* Azul oscuro */
    font-weight: bold;
}

nav ul li a:hover {
    color: #00509e; /* Azul más brillante */
}
